.active{
    width: 50%;
    height: 3rem;
    color: white;
    border: 1px solid rgb(77,188,94);
    font-size: 1.1em;
}
.normal{
    width: 50%;
    height: 3rem;
    border: 1px solid rgb(77,188,94);
    font-size: 1.1em;
    background: #fff;
    transition: .3s;
}
.normal:hover{
    color: white;
}