.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Contenedor principal de la aplicación */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hace que el contenedor ocupe toda la altura de la pantalla */
}

/* Contenedor del contenido principal */
.main-content {
  flex: 1; /* Expande el contenido para empujar el footer hacia abajo */
}

/* Estilo del footer */
.footer {
  padding: 1rem;
  background-color: #282c34;
  color: white;
  text-align: center;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px); /* desenfoque más suave */
  background-color: rgba(0, 0, 0, 0.05); /* más transparente */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}

.loading-logo {
  width: 80px;
  animation: pulseLogo 2.5s infinite ease-in-out;
  opacity: 0.9;
}

@keyframes pulseLogo {
  0%, 100% {
    transform: scale(1);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
